:root {
  --mainBg: #111;
  --projectBg: black;
  --projectColor: silver;
  --linkColor: slategray;
  --projectWidth: 15rem;
  --projectHeight: 17rem;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--mainBg);
  background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px),
    linear-gradient(purple, var(--mainBg) 50%);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  color: white;
}

header h1 {
  font-family: 'Permanent Marker', cursive;
  font-style: italic;
  font-size: 5rem;
  line-height: 1em;
  position: relative;
  margin: 4rem 0;
  transform: rotate(-5deg);
  align-self: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

header h1:after {
  content: '_';
  display: block;
  position: absolute;
  left: 1.2em;
  top: 0.2em;
  transform: scaleX(7);
  transform-origin: left;
  color: black;
}

header p {
  font-size: 1.2em;
  max-width: 40rem;
}

header a {
  color: var(--linkColor);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  background-color: var(--mainBg);
}

main:after {
  content: '';
  display: block;
  height: 100vh;
}

.project {
  width: var(--projectWidth);
  height: var(--projectHeight);
  margin: 1rem;
}

.content {
  width: 100%;
  min-height: var(--projectHeight);
  max-height: var(--projectHeight);
  background: var(--projectBg);
  color: var(--projectColor);
  overflow: hidden;
  transition: all 0.5s;
  padding: 0.25rem;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
  transform-origin: top left;
}

.project.transformLeft .content {
  transform-origin: top right;
}

.project:hover .content {
  transform: scale(1.2);
  max-height: calc(100vh - 2rem);
  box-shadow: 0px 0px 5px 2px rgba(255,255,255,0.5);
}

.title, .screenshot {
  cursor: pointer;
}

.title {
  order: 2;
  font-weight: bold;
  font-family: sans-serif;
  background-color: black;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;
  margin-bottom: 0.25rem;
}

.title.scrolling {
  text-align: left;
  align-self: flex-start;
  animation: titleScroll 5s infinite alternate;
}

@keyframes titleScroll {
  0%   { transform: translateX(0) }
  30%  { transform: translateX(0) }
  70%  { transform: translateX(calc(-100% + 250px)) }
  100% { transform: translateX(calc(-100% + 250px)) }
}

.screenshot {
  order: 1;
  width: 100%;
}

.screenshot img, .screenshot video {
  width: 100%;
}

.description {
  order: 3;
  font-size: 0.9rem;
}

.description p:first-child {
  margin: 0;
}

.description a {
  color: var(--linkColor);
}