html, body {
  background:#ffc600;
  margin: 0;
  height: 100%;
}

.photobooth {
  background: white;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
}

.controls label {
  display: block;
}

.controls button {
  color: #F1D302;
  background-color: #235789;
  border: 1px outset silver;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 1em;
  margin: 1em 0;
  padding: 0.5em;
}

.controls button:focus {
  outline: none;
}

.photo {
}

.player {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20%;
  border: 1px solid blue;
}

/*
  Strip!
*/

.strip {
  position: absolute;
  padding: 2rem;
  bottom: 0;
  left: 0;
  float: left;
}

.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background: white;
}

.strip a:nth-child(5n+1) img { rotate: 10deg; }
.strip a:nth-child(5n+2) img { rotate: -2deg; }
.strip a:nth-child(5n+3) img { rotate: 8deg; }
.strip a:nth-child(5n+4) img { rotate: -11deg; }
.strip a:nth-child(5n+5) img { rotate: 12deg; }